*
{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: montserrat;
}
.mainSection
{
  display: flex;
}
.homeContainer
{
  height: 100vh;
  width: 50%;
  border-left: 1px solid darkgray;
  border-right: 1px solid darkgray;
  overflow: hidden;
  overflow-y: scroll;
}
.leftSidebarContainer
{
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}
.RightSidebarContainer
{
  height: 100vh;
  width: 25%;
}